body {
  margin: 0;
}
header {
  width: 100%;
  height: auto;
}
.head {
  width: 100%;
  height: auto;
  background-color: #3683c6;
  display: flex;
  position: fixed;
  z-index: 99;
}
#wrapper {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.logo {
  flex-basis: 20%;
}
.logo img {
  width: 180px;
  height: auto;
}
.menu {
  width: 500px;
  flex-basis: 80%;
}
.menuTop a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-family: Kanit;
  flex-basis: 15%;
}
.menuBottom {
  display: flex;
}
