body {
  margin: 0;
}
header {
  width: 100%;
  height: auto;
}
.head {
  width: 100%;
  height: 100px;
  background-color: #3683c6;
  display: flex;
  position: fixed;
  z-index: 99;
}
#wrapper {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#wrap {
  width: 1100px;
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.logo {
  flex-basis: 20%;
}
.logo img {
  width: 180px;
  height: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 500px;
  flex-basis: 80%;
}
.menuTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
}
.menuTop a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-family: kanit;
  flex-basis: 6%;
  text-align: center;
  white-space: nowrap;
}
.menuTop a i {
  font-size: 24px;
}
.menuTop a:nth-child(8),
.menuTop a:nth-child(7) {
  flex-basis: 2%;
}
.menuBottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menuBottom input {
  width: 500px;
  height: 30px;
  border: none;
  border-radius: 20px 0 0 20px;
}
.menuBottom button {
  border: none;
  background-color: #3683c6;
  color: white;
  font-size: 15px;
  font-family: kanit;
}
.menuBottom > button:last-child {
  border: 1px solid white;
  border-radius: 20px;
}
.menuBottom a {
  color: white;
  text-decoration: none;
  font-family: kanit;
}
.boxinput input::placeholder {
  font-family: kanit;
  font-size: 12px;
  padding-left: 10px;
}
.boxinput button {
  height: 30px;
  width: 60px;
  background-color: #ef8139;
  border: none;
  border-radius: 0 20px 20px 0;
  margin-left: -4px;
}
.boxinput button i {
  color: white;
  font-size: 16px;
}
.line {
  border-left: 1px solid white;
  height: 27px;
}
.dropdownLanguage {
  display: none;
  width: 100px;
  height: 100px;
  background-color: white;
  align-self: flex-end;
}
.dropdownLanguage button {
  border: none;
  font-family: kanit;
  background-color: white;
}
.dropdownLanguage.showLanguage {
  display: flex;
  flex-direction: column;
}
.carousel-item img {
  width: 100%;
  height: 750px;
}
.slideContent {
  background-image: url(../EverydayImprot/img/slide-shipping.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  height: 750px;
}
.slideContent2 {
  background-image: url(../EverydayImprot/img/slide-shipping2.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  height: 750px;
}
.carouselExampleIndicators {
  position: relative;
}
.registerAndLogin {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  position: absolute;
}
.cropboxContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.contentRegister {
  font-family: kanit;
}
.contentRegister h1 {
  font-size: 50px;
  font-weight: bolder;
}
.contentRegister p {
  font-size: 16px;
}
.contentRegister button {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #5accfa;
  width: 200px;
  height: 40px;
}
.contentLogin {
  font-family: kanit;
  background-color: rgba(255, 255, 255, 0.8);
  width: 380px;
  height: 340px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contentLogin h1 {
  font-size: 18px;
}
.contentLogin input {
  border: 1px solid #5accfa;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
}
.contentLogin input::placeholder {
  padding-left: 10px;
  color: #5accfa;
  font-family: kanit;
  font-size: 14px;
}
.space {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space p {
  padding: 0 20px 0 20px;
  font-size: 16px;
}
.lineOr1,
.lineOr2 {
  width: 90px;
  height: 16px;
  border-top: 1px solid #7a7979;
}
.contentSocial {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.contentSocial button:first-child {
  background-color: #4370b6;
  color: white;
  border: none;
  width: 120px;
  height: 30px;
  font-size: 14px;
}
.contentSocial button:last-child {
  background-color: #f2f2f2;
  color: black;
  border: none;
  width: 120px;
  height: 30px;
  font-size: 14px;
}
.contentLogin > button:last-child {
  background-color: #ef8139;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  color: white;
}
.contentHowto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 770px;
}
.cropHowto {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.howtoTop,
.howtoBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.howtoTop h1 {
  font-family: kanit;
  font-size: 22px;
  padding-bottom: 40px;
  font-weight: bolder;
}
.contentHowtoImg {
  width: 100%;
}
.firstImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.descripHowto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.descripHowto p {
  justify-content: flex-end;
  align-items: center;
  flex-basis: 15%;
  text-align: center;
  font-family: kanit;
  font-size: 14px;
}
.descripHowto p a {
  color: #5accfa;
}
.howtoNote {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 14px;
}
.howtoAlert {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ef8139;
  margin-right: 10px;
}
.note p {
}
.note p span {
  color: #ef8139;
}
.cropboxService {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.cropboxService h1 {
  font-size: 22px;
  font-family: kanit;
  font-weight: bolder;
}
.boxContentService {
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: space-between;
}
.boxInfoBuy {
  background-color: #92dbfb;
  width: 260px;
  height: 450px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 8px 5px #efefef;
}
.infoBuy,
.infoImport {
  background-color: white;
  width: 260px;
  height: 420px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  font-family: kanit;
  padding: 20px 20px;
}
.infoSent,
.infoPack {
  background-color: white;
  width: 260px;
  height: 420px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  font-family: kanit;
  padding: 20px 20px;
}
.infoBuy h1,
.infoImport h1,
.infoSent h1,
.infoPack h1 {
  color: #66c9f4;
  font-size: 16px;
  padding: 10px 0;
}
.infoBuy button,
.infoImport button,
.infoSent button,
.infoPack button {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #ef8139;
  color: white;
}
.infoPack img {
  width: 110px;
}
.boxInfoImport {
  background-color: #6ec1e7;
  width: 260px;
  height: 450px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 8px 5px #efefef;
}
.boxInfoSent {
  background-color: #3e8eb8;
  width: 260px;
  height: 450px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 8px 5px #efefef;
}
.boxInfoPack {
  background-color: #377fb0;
  width: 260px;
  height: 450px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 8px 5px #efefef;
}
.why {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cropboxContentWhy {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.headContentWhy h1 {
  font-family: kanit;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
}
.boxSafe,
.boxCall,
.boxFreeRegis {
  display: flex;
  align-items: center;
}
.boxSafe p {
  width: 270px;
  font-size: 14px;
  font-family: kanit;
}
.boxCall p {
  width: 200px;
  font-size: 14px;
  font-family: kanit;
}
.boxFreeRegis img {
  width: 100px;
}
.boxFreeRegis p {
  width: 270px;
  font-size: 14px;
  font-family: kanit;
}
.concept {
  position: relative;
}
.concept img {
  /* background-image: url(../EverydayImprot/img/container.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height: 300px;
  opacity: 50%;
}
.cropboxConcept {
  width: 41%;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 30%;
  font-family: kanit;
  font-size: 16px;
  font-weight: bold;
}
.cropboxConcept p:first-child {
  color: #4fb6f9;
}
.shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 470px;
}
.cropboxContentShipping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.cropboxContentShipping a {
  text-decoration: none;
  color: black;
  font-family: kanit;
  font-size: 12px;
  font-weight: lighter;
  padding-bottom: 10px;
}
.contentShipping {
  display: flex;
}
.boxByBoat,
.boxByTruck,
.boxByContainer {
  width: 280px;
}
.boxByBoat img,
.boxByTruck img,
.boxByContainer img {
  width: 250px;
}
.boxByBoat h1,
.boxByTruck h1,
.boxByContainer h1 {
  font-family: kanit;
  font-size: 18px;
  color: #4fb6f9;
  font-weight: bolder;
}
.boxByBoat p,
.boxByTruck p,
.boxByContainer p {
  font-family: kanit;
  font-size: 13px;
  width: 230px;
  color: #7a7979;
}
.logoPartner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.cropboxContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cropboxContact h1 {
  font-family: kanit;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 40px;
}
.boxcontentContact {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.qrcode img {
  width: 200px;
}
.socialContent {
  width: 400px;
}
.socialContact p i {
  color: #66c9f4;
  font-size: 40px;
}
.socialContact p {
  font-family: kanit;
}
.socialContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newsinfo p {
  font-family: kanit;
  font-weight: bolder;
  font-size: 14px;
}
.infoemail input {
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: #f4f4f4;
  width: 300px;
  height: 30px;
}
.infoemail input::placeholder {
  font-family: kanit;
  font-size: 12px;
  font-weight: lighter;
  padding-left: 20px;
}
.infoemail button {
  border: none;
  border-radius: 0 20px 20px 0;
  width: 70px;
  height: 30px;
  background-color: #ef8139;
  color: white;
  font-family: kanit;
  font-size: 12px;
  margin-left: -4px;
}
.about {
  background-color: #3988c8;
  width: 100%;
}
.cropCopy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
}
.cropboxAboutUs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.infoCompany img {
  width: 160px;
}
.infoCompany h1,
.infoCompany p {
  font-family: kanit;
  font-size: 14px;
  color: white;
  width: 65%;
}

.timeOpen {
  line-height: 7px;
  margin-top: 35px;
}
.infoAboutUs {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
.question {
  display: flex;
  flex-direction: column;
}
.question p {
  color: white;
  font-family: kanit;
  font-size: 14px;
  font-weight: bolder;
}
.question a {
  text-decoration: none;
  color: white;
  font-family: kanit;
  font-size: 14px;
  font-weight: lighter;
}
.followUs p {
  color: white;
}
.followUs a {
  text-decoration: none;
  padding-left: 10px;
  color: white;
  font-size: 30px;
  font-weight: lighter;
}
.cropCopy > p {
  color: white;
  font-size: 10px;
  padding-top: 30px;
}
.rightFixed {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.calContent {
  width: 500px;
  height: 722px;
  box-shadow: 0 0 5px 2px #cecece;
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  background-color: white;
}
.showCalculate {
  display: flex;
}
.cropcalculate {
  width: 450px;
  height: 722px;
  position: absolute;
}
.headCal {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-top: 10px;
  align-items: baseline;
}
.headCal h1 {
  font-size: 20px;
  font-family: kanit;
  font-weight: bolder;
  flex-basis: 70%;
}
.headCal button {
  border: none;
  background-color: white;
  color: #3683c6;
  font-size: 25px;
  flex-basis: 10%;
}
.calRow1,
.cropCate,
.calRow3 {
  background-color: white;
  color: #3683c6;
  font-family: kanit;
  box-shadow: 0 0 5px 2px #cecece;
  border: none;
  font-size: 14px;
  margin-top: 10px;
  padding-top: 10px;
}
.descripCal {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 5px;
  font-weight: bolder;
}
.descripCal p {
  text-align: center;
  flex-basis: 35%;
}
.boxCal {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  font-weight: bolder;
  font-size: 18px;
}
.boxCal input {
  width: 100px;
  border: none;
  background-color: #ededed;
  border-radius: 20px;
}
.headRow2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}
.headRow2 h2 {
  font-size: 14px;
  font-family: kanit;
  flex-basis: 70%;
  text-align: center;
}
.cateRow1,
.cateRow2,
.cateRow3 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 20px 3px 20px;
  color: black;
  align-items: center;
}
.cateRow1 h1,
.cateRow2 h1,
.cateRow3 h1 {
  flex-basis: 35%;
  font-weight: bolder;
  font-size: 14px;
}
.form-check {
  flex-basis: 30%;
}
.cateRow3 p {
  font-size: 12px;
  color: #5e5e5e;
}
.boxZipcode {
  flex-basis: 30%;
}
.boxZipcode input {
  border: none;
  border-radius: 20px;
  background-color: #ededed;
  width: 100px;
  height: 30px;
}
#type {
  border: none;
  border-radius: 20px;
  background-color: #ededed;
  width: 100px;
  height: 30px;
  text-align: center;
  color: #505050;
  font-size: 12px;
}
.boxSize {
  display: flex;
  color: black;
  font-weight: bolder;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  padding: 0 20px 10px 20px;
}
.boxSize input {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #ededed;
  border-radius: 20px;
}
.boxSize input::placeholder,
.boxweightLeft input::placeholder {
  padding-right: 5px;
  text-align: end;
  color: black;
  font-size: 12px;
  font-weight: lighter;
}
.boxSize p {
  flex-basis: 12%;
}
.boxWeight {
  display: flex;
}
.boxweightLeft {
  padding: 0 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-weight: bolder;
  flex-basis: 80%;
}
.boxweightLeft p {
  flex-basis: 50%;
}
.boxweightLeft input {
  width: 134px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: #ededed;
}
.cropboxWeightBottom {
  padding-top: 20px;
  line-height: 5px;
}
.backgroundcalRow4 {
  width: 100%;
  height: 223px;
  position: relative;
  background-color: #69caf3;
  align-self: flex-end;
}
.totalRow1 {
  padding: 10px 20px 0 20px;
}
.totalRow2,
.totalRow3,
.totalRow4 {
  padding: 0 20px 0 20px;
}
.totalRow1,
.totalRow2,
.totalRow3,
.totalRow4 {
  display: flex;
  color: white;
  align-items: baseline;
  line-height: 5px;
  font-family: kanit;
  justify-content: space-between;
}
.totalRow1 h3,
.totalRow2 h3,
.totalRow3 h3,
.totalRow4 h3 {
  font-size: 14px;
}
.tick {
  text-align: center;
  height: 1px;
  width: 100%;
  background-color: white;
}
.total {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
}
.total h2 {
  color: white;
  font-family: kanit;
  font-size: 18px;
}
.total h1 {
  color: white;
  font-family: kanit;
  font-size: 22px;
  font-weight: bolder;
}
