body {
  margin: 0;
}
header {
  width: 100%;
  height: auto;
}
.head {
  width: 100%;
  height: auto;
  background-color: #151415;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
}
#wrapper {
  width: 1100px;
  margin: 0 auto;
  align-items: center;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green; */
  flex-wrap: wrap;
}
.logo {
  flex-basis: 20%;
}
.logo img {
  width: 180px;
  height: auto;
}
.menu {
  display: flex;
  width: 500px;
  flex-basis: 60%;
  /* padding-left: 20%; */
}
.menu a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: Roboto;
  flex-basis: 15%;
  display: flex;
  justify-content: flex-start;
}
.menu.showMenu {
  display: block;
}
.menu a:last-child {
  color: #f7c244;
}
/* #tel {
    color: #f7c244;
  } */
.menu a:hover {
  color: #f7c244;
}
.hamberger button {
  border: none;
  background-color: #151415;
  color: white;
  display: none;
}
.vdoPromotion {
  width: 100%;
  display: block;
}
.vdoPromotion video {
  display: block;
  width: 100%;
}
.rightFix {
  position: fixed;
  bottom: 0%;
  right: 0;
  display: block;
}
.circletop {
  width: 140px;
  height: auto;
}
.circletop img {
  width: 140px;
  height: auto;
}
.circleBottom img {
  width: 160px;
  height: auto;
}
.promoSet1,
.promoSet2 {
  display: flex;
  justify-content: space-between;
  height: 800px;
  /* align-items: center; */
}
.cropPromo1,
.cropPromo2 {
  display: flex;
  align-items: center;
}
.contentPromo {
  font-family: Kanit;
  padding-left: 30px;
}
.descripProTop h1 {
  font-size: 28px;
  line-height: 10px;
}
.line {
  height: 1px;
  background-color: black;
}
.rate {
  color: #f8ca47;
  font-size: 20px;
  padding-top: 10px;
}
.descripProTop p {
  color: #717171;
  font-size: 18px;
}
.spaceSet1 {
  height: 50px;
}
.descripProBottom h1 {
  font-size: 26px;
}
.descripProBottom p {
  color: #717171;
  font-size: 16px;
}
.descripProBottom h2 {
  font-size: 38px;
}
.promoBt {
  display: flex;
  justify-content: start;
}
.promoBt button {
  background-color: white;
  font-family: Kanit;
  font-size: 20px;
  width: 180px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 20px;
}
.promoBt button:hover {
  background-color: black;
  color: white;
}
.spaceSet2 {
  height: 10px;
}
.backgroundSelect {
  background: url(../beeative//img/bg-beeative2.jpeg);
  background-position: center center;
  width: 100%;
  height: 615px;
}
.selectPack {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.contentSelect {
  color: white;
  font-family: Kanit;
}
.contentSelect h1 {
  font-size: 35px;
  line-height: 10px;
}
.contentSelect p {
  font-size: 18px;
}
.contentSelect span {
  color: #f8ca47;
}
.inputInfo {
  width: 550px;
  display: flex;
  flex-wrap: wrap;
}
.infoFirst,
.infoSecond {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.infoFirst input,
.infoSecond input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: none;
}
.infothree {
  width: 100%;
  display: flex;
}
.infothree select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
}
